.bg {
	background-image: url(../../assets/BG-02.png);
	background-size: cover;
	background-repeat: repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 20px;
}
.conten {
	display: flex;
	flex-direction: row;
	margin-top: 20px;
	align-content: space-between;
}
.cont {
	display: flex;
	flex-direction: column;
	justify-content: left;
	align-items: center;
	color: whitesmoke;
	width: 50%;
}
.cimg {
	display: flex;
	flex-direction: column;
	justify-content: left;
	width: 50%;
	color: whitesmoke;
	/* margin-top: 10em; */
}
.img {
	border-radius: 2.5rem;
	padding: 0.9rem;
}
.ctext {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 0.1rem;

	margin-left: 0.5rem;
}

.image {
	position: fixed;
	object-fit: cover;
	top: 0;
	left: 0;
	z-index: -1;
	height: 100vh;
	width: 100%;
	align-content: center;
}

.btn {
	width: 7em;
	height: 2.4em;
	font-size: 15px;
	font-weight: bold;
	background: transparent;
	border: none;
	position: relative;
	color: #fcfffd;
	z-index: 1;
}
.btn:after,
.btn::before {
	content: '';
	position: absolute;
	bottom: 0;
	right: 0;
	z-index: -99999;
	transition: all 0.4s;
}

.btn::before {
	transform: translate(0%, 0%);
	width: 100%;
	height: 100%;
	background: rgba(65, 8, 85, 0.63);
	box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
	backdrop-filter: blur(4px);
	border-radius: 10px;
}

.btn:hover::after {
	background-color: rgb(132, 203, 171);
	transform: scaleX(1.4) scaleY(1.5);
	opacity: 0;
}

.link {
	color: whitesmoke;
	text-decoration: none;
}
