.backg {
	background-image: url(../../assets/BG-02.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100%;
	display: flex;
	flex-direction: column;
}

.img {
	width: 10%;
	/* height: 10%; */
	display: flex;
	margin-top: 1.5em;
	margin-left: 45%;
}
