.backgraun {
	background-image: url(../../assets/LANDING.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.btn {
	position: absolute;
	width: 182px;
	height: 110px;
	left: 44.5%;
	top: 470px;
}
